.left-nav {
  display: flex;
  flex-direction: column;
  max-width: 15vw;
  position: absolute;
  left: 0;
  top: 15vh;
}

.left-links {
  font-size: 16px;
  color: #cccccc;
  text-transform: uppercase;
}

.right-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10vw;
  max-width: 80%;
  color: #eee;
}

.tab-container {
  position: absolute;
  padding-top: 20px;
}

.tabsdiv {
  position: fixed;
  left: 15vw;
  top: 17vh;
  padding-right: 1vw;
}
