html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}
.content {
  margin: 20px;
}
.footer {
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
