html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.container {
  flex: 1 0 auto;
}
.content {
  margin: 20px;
}
.footer {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    width: 100%;
  }
}
