a {
  color: #978c94;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}

a:hover {
  color: #ffffff;
  transition: color 0.25s ease-in;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column nowrap;
  align-content: center;
  overflow-x: hidden;
  background-color: #252525;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw;
  width: 100%;
  height: 100%;
  background-color: #252525;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20vh;
  width: 30vw;
  background-color: #eee;
  padding: 2vw;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 40px;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.header-title {
  color: #c5cfc6;
  padding-left: 15px;
  letter-spacing: 10px;
}

.form-title {
  color: #252525;
  padding-left: 15px;
  letter-spacing: 10px;
}

form {
  width: 25vw;
}
