a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column nowrap;
  align-content: center;
  overflow-x: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw;
  width: 100%;
  height: 100%;
  background-color: #252525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 40px;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

.header-title {
  color: #fff;
  padding-left: 15px;
  letter-spacing: 10px;
}
